{% extends 'common/base.html' %}
    
{% block content %}
<div class="pt-6 md:pt-24 pb-0">

    <div class="flex justify-center items-center mx-12  mx-6">
        <img class=" w-full md:h-[35rem] bg-white rounded-xl"
                            src="{{blog.image.url}}"
                            alt="Sunset in the mountains">
    </div>
    <div class=" mx-4 md:mx-12 flex flex-col justify-between items-centers  gap-4 rounded-t-3xl shadow-3xl p-6">
        
        
        
        <div class="flex justify-between ">
            <small class="text-center">Published At: <br> {{blog.created_at}}</small>
            <small class="text-center">Published By: <br> {{blog.authors.username}}</small>
        </div>
        <div class="text-orange-600 text-left
        text-[28px] font-bold w-full h-auto">{{blog.title}}</div>
        

    </div>
    

    <div class="mx-4 my-2 md:mx-12 shadow-2xl rounded-xl overflow-hidden">

        <div class="flex justify-between bg-orange-400">
            <div class="py-2 flex justify-center items-center px-2">
                <a href="/" class="bg-[#E98B34] text-white font-semibold tracking-wide py-2 px-2 md:px-2 md:py-2 rounded-md md:text-sm">Back to Home</a>
            </div>
            <!-- <a href="" class="bg-[#E98B34] text-white font-semibold tracking-wide px-5 py-2 rounded-md text-lg">back</a> -->
           
        </div>
        
        
            <div class="h-[450px] overflow-y-scroll my-2 px-3 py-6 text-lg  align-justify">
                    {{blog.content}}
            </div>

            
            <div class="flex justify-between bg-orange-400">
                <!-- <div class="py-2 flex justify-center items-center px-2">
                    <a href="/" class="bg-[#E98B34] text-white font-semibold tracking-wide py-2 px-2 md:px-2 md:py-2 rounded-md md:text-sm">Home</a>
                </div> -->
                <!-- <a href="" class="bg-[#E98B34] text-white font-semibold tracking-wide px-5 py-2 rounded-md text-lg">back</a> -->
                <div class="flex gap-2  py-2 px-2">
                    {% if user.is_authenticated %}
                        {% if user.id == blog.authors.id %}
        
                        <a href="{% url 'update_blog' blog.id %}" class="bg-[#E98B34] text-white font-semibold tracking-wide py-2 px-2 md:px-2 md:py-2 rounded-md md:text-sm">Edit</a>
                        <a href="{% url 'delete_blog' blog.id %}" class="bg-[#E98B34] text-white font-semibold tracking-wide py-2 px-2 md:px-2 md:py-2 rounded-md md:text-sm">Delete</a>
        
                        {% endif %}
                    {% endif %}
                </div>
            </div>
           
       
    </div>
    
<!--     
    {% for message in messages %}
        <p class="text-center text-green-500">{{message}}</p>
    {% endfor %} -->

</div>


{% endblock %}